{% extends "base.html" %}
{% block content %}
	<div class = "container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron" id="jumbo"> 
					<h1>Happiness</h1>
					<p class="lead">Which country would you be happiest living in? We have crafted a survey that will help determine if where you are living is currently the best place for you to live. </p><hr>
					<p class="lead">Click here to take your happiness survey</p>
					<a class="btn- btn-primary btn-lg" href="{{ url_for('survey') }}" role="button">Take the Survey</a>
				</div>
			</div>
		</div>
		<div class="row"> 
			<div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="happinessfactor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Happiness Factor
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">GDP</a>
                  <a class="dropdown-item" href="#">Generosity</a>
                  <a class="dropdown-item" href="#">Health Life Expectancy</a>
                </div>
              </div>
                <select id="happinessfactor1">
                    <option value="GDP">GDP</option>
                    <option value="Generosity">Generosity</option>
                    <option value="Health Life Expectancy">Health Life Expectancy</option>
                    <option value="Perception of Corruption">Perception of Corruption</option>
                    <option value="Social Support">Social Support</option>
                  </select>
           	</div>
        </div>
        <div class="row">
        	<div class="col-md-12">
				<div id="plot"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="line"></div>
			</div>
		</div>
	</div>
<script type="text/javascript" src="static/js/graphs.js"></script>
{% endblock %}