{% extends "base.html" %}
{% block content %}

  <div id="map"></div>
  <div id="chart"></div>
  <div class="row"> 
  	<div class="col-md-12"> 
  		<table class="table table-striped"> 
  			<thead>
  				<tr> 
  					<th class="table-head" position = "9">Country</th>
  					<th class="table-head" position = "8">GDP</th>
  					<th class="table-head" position = "1">Generosity</th>
  					<th class="table-head" position = "2">Health Grade</th>
  					<th class="table-head" position = "3">Life Choices</th>
  					<th class="table-head" position = "4">Social</th>
  					<th class="table-head" position = "5">Life Expectency</th>
  					<th class="table-head" position = "6">Corruption</th>
  					<th class="table-head" position = "13">Beer</th>
  					<th class="table-head" position = "14">Wine</th>
  					<th class="table-head" position = "7">Spirits</th>
  					<th class="table-head" position = "11">Marijuana Med</th>
  					<th class="table-head" position = "12">Marijuana Rec</th>
  					<th class="table-head" position = "10">Sports</th>
  					<th class="table-head" position = "15">Work Hours</th>
  				</tr>
  			</thead>
  			<tbody id="tablebody"></tbody>
  		</table>

{% endblock %}