{% extends "base.html" %}
{% block content %}

  <div class="row"> 
    <div class="col-md-12">
      <div id="map"></div>
    </div>
  </div>
  <div id="chart"></div>
  <div class="row"> 
  	<div class="col-md-12"> 
  		<table class="table table-striped"> 
  			<thead>
  				<tr> 
  					<th class="table-head">Country</th>
  					<th class="table-head">GDP</th>
  					<th class="table-head">Generosity</th>
  					<th class="table-head">Health Grade</th>
  					<th class="table-head">Life Choices</th>
  					<th class="table-head">Social</th>
  					<th class="table-head">Life Expectency</th>
  					<th class="table-head">Corruption</th>
  					<th class="table-head">Beer</th>
  					<th class="table-head">Wine</th>
  					<th class="table-head">Spirits</th>
  					<th class="table-head">Marijuana Med</th>
  					<th class="table-head">Marijuana Rec</th>
  					<th class="table-head">Sports</th>
  					<th class="table-head">Work Hours</th>
  				</tr>
  			</thead>
  			<tbody id="tablebody"></tbody>
  		</table>
<script type="text/javascript" src="static/js/happylogic.js"></script>
{% endblock %}